@media (min-width: 1441px) {

    section,
    footer {
        max-width: 1440px;
        margin: auto;
    }
}

@media (min-width: 1281px) and (max-width: 1440px) {
    .main-title {
        font-size: 62px;
    }

    .title>p {
        font-size: 24px;
    }
}

@media (max-width: 1280px) {
    .main-title {
        font-size: 44px;
    }

    .title>p {
        font-size: 20px;
    }

    .description-container {
        flex-direction: column;
    }

    .third-section-card {
        flex-direction: column;
    }

    .characteristics-container {
        flex-wrap: wrap;
        gap: 20px;
    }

    .product-card {
        width: 31%;
    }

    .contacts-info-society {
        flex-wrap: wrap;
    }

    .footer-info-text-main {
        font-size: 14px;
    }

    .footer-info-text {
        font-size: 12px;
    }

    .about-container {
        flex-wrap: wrap;
    }

}

@media (max-width: 790px) {

    .header-menu {
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-title {
        font-size: 32px;
    }

    .title>p {
        font-size: 14px;
    }

    .description-header,
    .third-section-card-title,
    .about-title {
        font-size: 28px;
    }

    .third-section-btn-container {
        flex-direction: column;
    }

    .product-card {
        width: 100%;
    }

    .footer {
        padding: 40px 30px;
        gap: 3rem;
    }

    .footer-container {
        flex-direction: column;
        gap: 32px;
    }

    .footer-container iframe {
        width: 100%;
    }

    .tablinks::before {
        width: 150px;
        height: 100px;
    }

    .tablinks h4 {
        font-size: 1.2rem;
    }

    .form {
        padding: 30px;
    }

    #menu {
        display: flex;
    }

    .header-menu-desc {
        display: none;
    }

    .skill-title_container {
        flex-direction: column-reverse;
    }

    .about-container,
    .text-container {
        gap: 10px;
    }

    .about-container {
        flex-direction: column-reverse;
    }

    .description-text,
    .about-text,
    .third-section-container-text p {
        font-size: 12px;
    }

    .skill-title_container img {
        width: 100%;
    }

    .filter ul {
        padding: 0 30px;
    }

    .btn-white {
        font-size: 14px;
        line-height: 18px;
        padding: 9px 26px;
    }

    .description-container img,
    .about-container img {
        width: 100%;
    }

    .description,
    .about,
    .second-section,
    .third-section,
    .gallery,
    .fourth-section {
        padding: 44px 30px;
    }

    .description-box {
        flex-direction: column;
        gap: 18px;
    }

    .description-text-box, .third-section-img {
        width: 100%;
    }

    .third-section-container-text {
        gap: 18px;
    }

    .third-section-card, .tabcontent {
        gap: 40px;
    }

    .gallery-main .swiper-slide img {
        object-fit: contain;
    }
}